@font-face {
    font-family: "Verdana";
    src: local("verdana");
  }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding:0px;
}

nav{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px; 
}

nav > span{
    display: flex;
    align-items: center;
}

nav > span > img{
    height: 32px;
    padding:10px;
}

nav > ul{
    margin-left:auto;
    margin-right:20px;
}

nav > ul > li{
    display: inline-block;
}

nav > ul > li > a{
    text-decoration:none;
    color: #000;
    margin-right:20px;
}

nav > ul > li > a:hover{
    color:green;
    border-bottom:2px solid #000;
}

.relative-container {
    position: relative;
  }

header{
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    text-align:center;
    height: 300px;
    padding-top:180px;
    color:#fff;
    text-shadow: 2px 2px 2px yellow;
}

header > p a{
    color:#fff;
}

main > section > h2{
    text-align: center;
    
}

section{
    margin:0 10px;
}

.grid-container p a {
    color:#000;
    text-decoration:none;
}

.grid-container p a:hover{
    border-bottom:2px solid #000;
}




#section-video{
    margin-top:200px;
}

#form-section{
    margin-top:200px;
    border-top:2px dotted #ccc;
}

#form-section form{
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
}

fieldset{
    margin-top:10px;
    border-radius: 4px;
}

input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    display: block;
}

iframe {
    max-width: 480px;
  }

#section-video .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}  


button[type="submit"] {
    color: rgb(3, 3, 3);
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 100%;
    padding: 9px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top:10px;
  }


  


  main{
    margin-bottom:20px;
  }


  